.header_block{
    width:100%;
    min-height: 690px;
    background-size: cover;
    background-image: url(img/main_img.png);
    margin: -10px 0 0 0;
    position: relative;
    margin-bottom: 196px;
}
.limit{
    width: 100%;
    max-width:1180px;
    padding: 0 15px;
}
.ft-roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #081F32; 
}
.ft-gelasio{
    font-family: 'Gelasio', sans-serif;
}
.header_block__menu{
    margin-bottom: 78px;
}
.d-flex-nowrap{
    display: flex;
    align-items: center;
}
.header-logo{
    margin-right: 128px;
}
.header_block__nav{
    margin-right:290px;
}
.nav-item{
    margin-right: 40px;
    cursor: pointer;
}
.nav-item:hover{
    color: #1B75BB;
}
.nav-item:last-child{
    margin-right: 0;
}
.title_blue{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #1B75BB;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 15px;
}
.banner-cont__title{
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    margin-bottom: 25px;
}
.banner-cont__title span{
    color: #1B75BB;
}
.def_txt-style{
    margin-bottom: 30px;
}
.button{
    background: #1B75BB;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.defolt-button{
    width: 134px;
    height:54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.banner_subtxt{
    position: absolute;
    bottom:-185px;
    padding:24px 49px 27px 10px; 
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    display: flex;
}
.subtxt-block{
    display: flex; 
    margin:0 60px 0 0;
}
.subtxt-item{
    border-left:2px solid #9DACB8;
    padding: 0 30px 0 30px;
}
.subtxt-item:first-child{
    border:none;
    padding:0 30px 0 0;
}
.subtxt-item_txt{
    font-size: 16px;
}
.subtxt-item_txt span{
    font-weight: 500;
}
/* block2 */
.dream_holidays_block{
    padding:57px 0 80px 0;
    margin:0 0 60px 0;
}
.video-img img{
    z-index: 1;
    position: relative;
}
.play-img{
    z-index: 1;
    position: absolute;
    top:35%;
    left:35%;
}
.video_background img{
    z-index: -1;
    position: absolute;
    top:-57px;
    left:220px;
}
.def-title_txt{
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
}
.dream_holidays-mgb{
    margin-bottom: 30px;
}
/* block3 */
.why_choose{
    margin-bottom: 140px;
}
.why_choose__top{
    text-align:center;
}
.why_choose-mgb{
    margin-bottom: 25px;
}
.why_choose__top .def_txt-style{
    margin-bottom: 60px;
}
.card_cont{
    padding:19px 17px 17px 17px;
    background: #FFFFFF;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    text-align: center;
}
.card-title{
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin:0 0 15px 0;
}
.card-icon{
    margin:0 0 40px 0;
}
/* block4 */
.hotel_gallery{
    margin-bottom:110px;
}
.hotel_gallery__cont {
    display: flex;
    flex-wrap: wrap;
}
.hotel_gallery__cont .col-lg-6{
    margin-bottom: 30px;
}
/* block5 */
.client-block{
    margin-bottom: 140px;
}
.client-block__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.card_cont{
    opacity: 0.6;
    position: relative;
    padding:28px 40px 27px 40px;
}
.card_cont:hover{
    opacity: 1;
}
.quotes{
    position: absolute;
    top:128px;
    left:39px;
}

/* block6 */
.subscribe-block{
    margin-bottom: 124px;
}
.subscribe-title{
    color: #081F32;
}
.subscribe-block .why_choose__top{
    margin-bottom: 50px;
}
.input{
 display: flex;
 justify-content: center;
}
.input-sub{
    width: 405px;
    height: 54px;
    padding-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    float:left;
}
.subscribe-block button{
    float:left;
}
/* block7 */
.footer__list li{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7; 
    margin-bottom: 20px;
}
.footer__title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}
.footer__block_txt{
    margin-bottom: 25px;
}
.footer__block_nick{
    margin-bottom: 15px;
}
.footer__icons img{
    margin-right: 15px;
}
.footer__block_one{
    position: relative;
}
.footer__block_one .logo img{
    position: absolute;
    left:-15px;
}
/* media_for_block1 */
@media (max-width: 1250px){
.header_block__nav {
    margin-right: 100px;
}
}
@media (max-width:768px){
.header_block {
    margin-bottom: 100px;
}
.header-logo {
    margin-right: 50%;
}
.header_block__nav {
    display: none;
}
}
@media (max-width:400px){
.header_block {
     margin-bottom: 50px;
}
.header-logo {
    margin-right: 60px;
}
.header_block .logo img{
    max-width: 150px;
}
.banner_subtxt {
    position: static;
    bottom: 0;
    padding: 24px 20px 27px 20px;
    flex-wrap: wrap;
}
.subtxt-block {
    margin: 0 0 30px 0;
}
}
/* media_for_block2 */
@media (max-width: 1250px){
.dream_holidays_block {
    padding: 10px 0 0 0;
}
.video_background img {
    display: none;
}
.dream_holidays_block .col-md-12{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.play-img {
    left: 45%;
}
.dream_holidays__txt{
    text-align: center;
}
}
@media (max-width:768px){
.video-img img {
    max-width: 100%;
}
}
@media (max-width:400px){
.play-img img{
    max-width:100%;
}
.play-img {
    top: 20%;
    left: 120px;
}
}
/* media_for_block3 */
@media (max-width: 1250px){
.why_choose {
    margin-bottom: 100px;
}
}
@media (max-width:768px){
.why_choose {
    margin-bottom: 70px;
}
.why_choose .col-xs-12{
    margin-bottom: 30px;
}
}
/* media_for_block4 */
@media (max-width: 1250px){
.hotel_gallery__imgcont{
    display: flex;
    justify-content: center;
}
}
@media (max-width:768px){
.hotel_gallery__imgcont img{
    max-width: 100%;
}
}
@media (max-width:400px){
.hotel_gallery {
    margin-bottom: 80px;
}
}
/* media_for_block5 */
@media (max-width: 1250px){
    .client-block {
        margin-bottom: 100px;
    }
    .client-block .row{
        display: flex;
    }
}
@media (max-width:768px){
.client-block {
    margin-bottom: 70px;
}
.client-block .row {
    flex-wrap: wrap;
}
.client-block .col-xs-12{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.card_cont {
    max-width: 360px;
}
}
@media (max-width:400px){
.client-block__title {
    flex-wrap: wrap;
}
.def-title_txt {
    margin-bottom: 20px;
}
}
/* media_for_block7 */
@media (max-width:768px){
.footer__block_one .logo img {
    display: none;
}
.footer__block_one {
    margin-bottom: 30px;
}
}